<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Commissions</title>
        <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome5-overrides.min.css}">
    </head>
    <body id="page-top">
      <div id="wrapper">
      <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #A3B4A2;">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="far fa-handshake"></i></div>
                <div class="sidebar-brand-text mx-3"><span>Enchères</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <span th:if="${error == null and ok == null}">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" th:href="@{../BackOffice/LoadStatistiques}"><i class="fas fa-tachometer-alt"></i>Statistiques</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{../BackOffice/Categorie}"><i class="fa fa-th-list"></i><span>Gestion de catégories</span></a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{../BackOffice/Commission}"><i class="fa fa-th-list"></i>Gestion de commissions</a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{../BackOffice/LoadAllSoldes}"><i class="fa fa-credit-card"></i><span>Rechargement de compte</span></a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{../BackOffice/updateDefaultValue}"><i class="fa fa-credit-card"></i><span>Mettre &agrave; jour la dur&eacute;e par d&eacute;faut</span></a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{../BackOffice}"><i class="fa fa-sign-out"></i><span>D&eacute;connexion</span></a></li>
            </ul>
        </span>
            <span th:if="${error != null or ok != null}">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" th:href="@{../LoadStatistiques}"><i class="fas fa-tachometer-alt"></i>Statistiques</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{../Categorie}"><i class="fa fa-th-list"></i><span>Gestion de catégories</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{../Commission}"><i class="fa fa-th-list"></i>Gestion de commissions</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{../LoadAllSoldes}"><i class="fa fa-credit-card"></i><span>Rechargement de compte</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{../updateDefaultValue}"><i class="fa fa-credit-card"></i><span>Mettre &agrave; jour la dur&eacute;e par d&eacute;faut</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{..}"><i class="fa fa-sign-out"></i><span>D&eacute;connexion</span></a></li>
                </ul>
            </span>
            
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div class="col-lg-10" style="width: 1500px;">
          <div class="row">
          <div class="col">
              <div class="card shadow">
                  <div class="card-header py-3">
                      <p class="text-primary m-0 fw-bold">Tous les soldes non valid&eacute;s</p>
                  </div>
    <div th:if="${ok != null}">
        <p th:text="${ok}"></p>
    </div>
    <div th:if="${error != null}">
        <p th:text="${error}"></p>
    </div>
    <table style="width:80%" border="1" class = "table table-striped table-responsive-md">
        <tr>
            <th>ID solde utilisateur</th>
            <th>ID Utilisateur</th>
            <th>Valeur</th>
            <th>Date d'op&eacute;ration</th>
            <th></th>
        </tr>
    <tr th:each="solde : ${tousLesSoldes}">
        <td th:text="*{solde.idsoldeutilisateur}"></td>
        <td th:text="*{solde.idutilisateur}"></td>
        <td th:text="*{solde.valeur}"></td>
        <td th:text="*{solde.dateoperation}"></td>
        <td><a class="btn" style="background-color: #35605A; color: azure;" th:href="@{../BackOffice/ValiderSoldes/{id}(id=${solde.idsoldeutilisateur})}">Valider</a></td>
    </tr>
    </table>
</body>
</html>